
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #f71414;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Courier New', Courier, monospace;
}
body
        {
            background: linear-gradient(to bottom, #da843f, #d49542); /* Градиентный фон от светло-синего к белому */
        }
      
        body {
  }
  
  form {
      margin-bottom: 20px;
  }
  
  input, textarea, button {
      display: block;
      margin-bottom: 10px;
  }
  
  #comments {
      margin-top: 20px;
  }
  
  #comments div {
      margin-bottom: 10px;
  }
  
  @media only screen and (max-width: 600px) {
  }
  @media only screen and (min-width: 601px) and (max-width: 1024px) {
  }
  @media only screen and (min-width: 1025px) {
  }
  
  
  /* Стили для общего использования на всех устройствах */
  body {
      font-size: 16px;
      margin: 0;
      padding: 0;
  }
  
  .header {
      background-color: #333;
      color: #fff;
      text-align: center;
      padding: 20px;
  }
  
  @media only screen and (max-width: 600px) {
      .header {
          padding: 10px;
          font-size: 1.5em;
      }
  
      /* Дополнительные стили для мобильных устройств */
      .main-content {
          padding: 10px;
          font-size: 14px;
      }
  
      /* Скрыть некоторые элементы, не подходящие для мобильных устройств */
      .sidebar {
          display: none;
      }
  }
  
  @media only screen and (max-width: 600px) {
      /* стили для мобильных устройств */
  }